{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Heading-->
<div class="container">
    <div class="row">
        <div class="col text-center mt-5">
            <h4 class="logo-font">
                <br>
                Edit Your Review of {{ product.name }}</h4>
        </div>
    </div>

    <!--Edit form allowing user to change his/hers review-->
    <div class="row pb-5">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 p-5 form-bg">
            <form method="POST" action="{% url 'edit_review' review.id %}" class="form mb-2"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-center">

                    <a href="{% url 'product_detail' product.id %}"
                        class="btn btn-outline-black rounded-2 mt-3 mr-5">Cancel</a>
                    <button class="btn btn-submit-brown rounded-2 mt-3" type="submit">Save and update</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}