 <footer class="coontainer bg-banner">
     <div class="row">
         <div class="container">
         <div class="col s4 center mt-3">
            <ul class="list-unstyled">
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
            </ul>
         </div>

         <div class="col s4 center mt-3">
            <p>© 2022 Copyright Good Oils</p>
        </div>

        <div class="col s4 center mt-3">
            <div class="">
                <a target="_blank" href="https://www.instagram.com" class="footer-icon right ms-2">
                <i class="fab fa-instagram footer-icon white-text" aria-hidden="true"></i>
                </a>
                <a target="_blank" href="https://www.gmail.com" class="footer-icon right ms-2">
                <i class="fas fa-at footer-icon white-text" aria-hidden="true"></i>
                </a>
                <a target="_blank" href="https://www.facebook.com" class="footer-icon right">
                <i class="fab fa-facebook-f footer-icon white-text" aria-hidden="true"></i>
                </a>
                <a target="_blank" href="https://www.twitter.com" class="footer-icon right">
                <i class="fab fa-twitter footer-icon white-text" aria-hidden="true"></i>
                </a>
             </div>
        </div>
     </div>
    </div>
 </footer>
 
 <!--
 <footer class="bg-banner">
    <div class="row footer-container mx-auto">
        <div class="col-12 col-md-4 d-flex justify-content-start justify-content-md-center">
            <div class="row">
                
                   
                    <ul class="list-unstyled mt-2">
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    </ul>
                
            </div>
        </div>

        <div class="col-12 col-md-4 d-flex justify-content-start justify-content-md-center mt-2">
            <div class="row">
                        
                           <p>© 2022 Copyright Good Oils</p>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-4 d-flex justify-content-start justify-content-md-center">
            <div class="row">
                        
                           <div class="mt-2">
                              <a target="_blank" href="https://www.instagram.com" class="footer-icon right">
                              <i class="fab fa-instagram footer-icon white-text" aria-hidden="true"></i>
                              </a>
                              <a target="_blank" href="https://www.gmail.com" class="footer-icon right">
                              <i class="fas fa-at footer-icon white-text" aria-hidden="true"></i>
                              </a>
                              <a target="_blank" href="https://www.facebook.com" class="footer-icon right">
                              <i class="fab fa-facebook-f footer-icon white-text" aria-hidden="true"></i>
                              </a>
                              <a target="_blank" href="https://www.twitter.com" class="footer-icon right">
                              <i class="fab fa-twitter footer-icon white-text" aria-hidden="true"></i>
                              </a>
                           </div>
                </div>
            </div>
        </div>
    </div>
</footer>
-->