 <footer class="page-footer bg-banner mt-3">
     <div class="container">
         <div class="row">
             <div class="col-md-8 col-sm-6 col-xs-12">
                 <ul class="list-inline">
                     <li class="list-inline-item mt-3">
                         <a href="{% url 'contact' %}" class="text-golden">Contact Us</a> <span class="text-white">or follow us on Social Media</span>
                     </li>
                     <li class="list-inline-item margin-lg mt-3 ms-5">
                         <a target="_blank" href="https://www.instagram.com" class="footer-icon right">
                             <i class="fab fa-instagram footer-icon text-golden" aria-hidden="true"></i>
                         </a>
                     </li>
                     <li class="list-inline-item mt-3 ms-5">
                         <a target="_blank" href="https://www.facebook.com" class="footer-icon right">
                             <i class="fab fa-facebook-f footer-icon text-golden" aria-hidden="true"></i>
                         </a>
                     </li>
                     <li class="list-inline-item mt-3 ms-5">
                         <a target="_blank" href="https://www.twitter.com" class="footer-icon right">
                             <i class="fab fa-twitter footer-icon text-golden" aria-hidden="true"></i>
                         </a>
                     </li>

                 </ul>
             </div>
             <div class="col d-flex justify-content-end mt-3 text-white">
                 <p>© 2022 Copyright Good Oils</p>
             </div>
         </div>
     </div>
 </footer>