<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        
        <li class="nav-item dropdown">
            <a class="uppercase-font font-weight-bold nav-link text-black mr-5" href="#" id="virgin-oils-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Virgin Oils
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="virgin-oils-link">
                <a href="{% url 'products' %}?category=olive_oils" class="dropdown-item">Olive Oils</a>
                <a href="{% url 'products' %}?category=nut_oils" class="dropdown-item">Nut Oils</a>
                <a href="{% url 'products' %}?category=seed_oils" class="dropdown-item">Seed Oils</a>
                <a href="{% url 'products' %}?category=olive_oils,nut_oils,seed_oils" class="dropdown-item">All Virgin Oils</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="uppercase-font font-weight-bold nav-link text-black mr-5" href="#" id="cosmetic-oils-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cosmetic Oils
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cosmetic-oils-link">
                <a href="{% url 'products' %}?category=body_oils" class="dropdown-item">Body Oils</a>
                <a href="{% url 'products' %}?category=essential_oils" class="dropdown-item">Essential Oils</a>
                <a href="{% url 'products' %}?category=body_oils,essential_oils" class="dropdown-item">All Cosmetic Oils</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="uppercase-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}?sort=brand&direction=asc" class="dropdown-item">By Brand</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="uppercase-font font-weight-bold nav-link text-black mr-5" href="{% url 'contact' %}">
                Contact Us
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font-go font-weight-bold nav-link" href="{% url 'magazine' %}">
                <h4>Good Oils Magazine</h4>
            </a>
        </li>
    </ul>
</div>