<!--Logo Good Oils-->
<li class="list-inline-item mt-0 p-0">
    <a href="{% url 'home' %}" class="nav-link m-0 p-0">
    <p class="logo-good-oils d-lg-none">Good Oils</p></a>   
</li>
<!--Search bar-->
<li class="list-inline-item m-0 p-0">
    <a class="text-black nav-link d-block d-lg-none p-0" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  
    <div class="text-center">
            <i class="fas fa-search fa-lg"></i>
        </div>
    </a>      
    <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
        <form class="form" method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
                <input class="form-control border border-grey rounded-2" type="text" name="q" placeholder="Search our site">
                <div class="input-group-append">
                    <button class="form-control form-control bg-grey border-grey rounded-2" type="submit">
                        <span class="icon">
                            <i class="fas fa-search text-black"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
<!--My Profile button-->
<li class="list-inline-item dropdown m-0 p-0">
    <a class="text-black nav-link d-block d-lg-none m-0 p-0" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-user fa-lg mb-2"></i></div>
        </div>
    </a>
    <div class="dropdown-menu dropdown-mobile border-0 bg-light" aria-labelledby="user-options">
        {% if request.user.is_authenticated %}
            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
            
        {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        {% endif %}
    </div>
</li>
<!--Shopping Bag-->
<li class="list-inline-item m-0 p-0">
    <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none m-0 p-0" href="{% url 'view_bag' %}">
        <div class="text-center">
            <div><i class="fas fa-shopping-bag fa-lg text-black mt-3"></i></div>
            <p class="my-0 text-black">
                {% if grand_total %}
                    {{ grand_total|floatformat:2 }} €
                {% else %}
                    0.00 €
                {% endif %}
            </p>
        </div>
    </a>
</li>
