{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div>
{% endblock %}
<hr>
{% block content %}
<div class="container bottom-footer">
   <div class="row">
      <div class="col-12 col-md-6 offset-md-5">
         <hr>
         <h2 class="mb-4 mt-4 btn text-white rounded-2 bg-info uppercase-font"><strong>Error 404</strong></h2>
      </div>
      <div class="col-12 col-md-6 offset-md-3">
         <h4 class="text-muted">Page not found.</h4>
         <p>We are sorry, the page you requested could not be found. Please go back to the homepage.</p>
         <hr>
      </div>
      <div class="row">
         <div class="col text-right">
            <a class="btn btn-outline-black rounded-2 mb-3 ms-3 mr-5" href="{% url 'home' %}">Take Me Home</a>
         </div>
      </div>
   </div>
</div>
{% endblock %}