{% block content %}
{% load static %}


{% if avg_rating %}
    <h5>Customers rated {{ product.name }} as:</h5>
    <div class="text-start" id="headingOne">
        <button class="btn text-brown btn-link" data-toggle="collapse" data-target="#collapseReview"
            type="button" aria-expanded="false" aria-controls="collapseReview">
            <span class="rating-stars" data-value="{{ avg_rating }}" data-toggle="tooltip" data-placement="bottom"
                title="Click to view ratings"></span>
        </button>
        <a href="{% url 'add_review' product.id %}" class="btn btn-submit-brown mb-1 ml-5"><small>Add Review</small></a>
    </div>

{% else %}
    <h5>No customers have rated {{ product.name }} yet.</h5>
    <p class="rating-stars" data-value=0></p>
    <a href="{% url 'add_review' product.id %}" class="btn btn-submit-brown mb-3">
        <small>Be the first to add a review</small>
    </a>
{% endif %}

<!-- view Reviews -->

<div class="card">
    <div id="collapseReview" class="collapse">
        <div class="card-body">
            {% if reviews %}
            {% for review in reviews %}
            <p class="rating-stars" data-value="{{ review.rating }}"></p>

            <p>"{{ review.description }}"</p>
            <span class="text-secondary">Posted on: &nbsp;{{ review.review_date|date:"M d, Y" }}, by: {{ review.nickname }} </span>
            {% if request.user.is_authenticated %}
            {% if request.user|lower == review.user|lower %}
            <span>
                <a href="{% url 'edit_review' review.id %}" data-toggle="tooltip" title="Edit Review"
                    data-placement="bottom" class="btn">
                    <i class="fa fa-edit text-primary"></i>
                </a>
            </span>
            <span>
                <a href="{% url 'delete_review' review.id %}" data-toggle="tooltip" title="Delete Review"
                    data-placement="bottom" class="btn">
                    <i class="fas fa-trash text-danger"></i>
                </a>
            </span>
            {% endif %}
            {% endif %}
            <hr>
            {% endfor %}


            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
<script type="text/javascript" src="{% static 'js/review.js' %}"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock %}